footer {
    background-color: #d9885d; 
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  
  footer p {
    font-size: 0.9rem;
  }